body {
  margin: 0% !important;
  font: 14px "Playfair" !important;
  background-color: honeydew !important;
}

a {
  color: #f6b628;
}

.navbar {
  background-color: #f6b628 !important;
  padding: 20px;
}
.table thead {
  background-color: #f6b628 !important;
}
.table thead tr th {
  color: white !important;
}
h1 {
  padding-top: 70px;
  padding-left: 520px;
  padding-bottom: 70px;
}

.heading {
  padding-left: 430px;
}

.btn {
  background-color: white !important;
  color: #f6b628 !important;
  border: 2px solid #f6b628 !important;
  margin-right: 30px;
}

.checked {
  color: #f6b628 !important;
}
