extends ../layout

block content
  h1 Login
  .container
    form(action="/login",method="post")        
            .form-group
                label(for="email") Email
                input#email(type="email", class="form-control", name="email" value="ammar@gmail.com" required)
            .form-group
                label(for="password") Password
                input#price(type="password", class="form-control", name="password", value="ammar" required)
            input(type="submit", class="btn btn-info" value="Login")
